* {
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
}
img::selection {
  background: transparent;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    @include tablet {
      text-decoration: none;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
    }
    @include mobile {
      text-decoration: none;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
    }
  }
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  flex: 0 0 auto;
}
main {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
}
.whatsup {
  &-button {
    display: block;
    width: fit-content;
    padding: 15px 30px;
    border: 2px solid #2dd067;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #2dd067;
    text-decoration: none;
    & svg {
      margin-left: 10px;
    }
    &:hover {
      cursor: pointer;
      border-color: #12b54c;
      color: #12b54c;
      & svg path {
        fill: #12b54c;
      }
    }
    @include tablet {
      padding: 14px 10px;
      font-weight: 600;
      font-size: 14px;
      line-height: 23px;
    }
    @include mobile {
      padding: 11px 10px;
    }
  }
  & p {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $text;
    & a {
      text-decoration: none;
      color: $text;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
    @include tablet {
      font-size: 14px;
      line-height: 18px;
    }
    @include mobile {
      margin-top: 10px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
.button_orange {
  display: block;
  width: fit-content;
  border: none;
  width: 180px;
  padding: 18px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: #ed6b40;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    background: #fc7a4f;
  }
  &:active {
    background: #de5c31;
  }
  @include tablet {
    padding: 13px 0px;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
  }
  &_no-desktop {
    display: none;
    margin: 40px auto 0;
    @include tablet {
      display: block;
    }
    @include mobile {
      margin-top: 30px;
    }
  }
  &-card {
    padding: 10px 0;
    width: 100%;
    @include tablet {
      font-size: 14px;
      line-height: 17px;
      padding: 10px 0px;
    }
    @include mobile {
      font-size: 10px;
      line-height: 12px;
      padding: 6px 0px;
    }
  }
}
.button_up {
  position: absolute;
  width: 98px;
  height: 98px;
  background: #f3f3f3;
  border: 3px dashed #ed6b40;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(100% + 5px);
  right: 0;
  @include tablet {
    display: none;
  }
}
.nuv {
  margin-top: 43px;
  @include tablet {
    margin-top: 30px;
  }
  @include mobile {
    margin-top: 20px;
  }
  & p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $chapter;
    & a {
      color: $chapter;
      text-decoration: none;
      &:hover {
        color: #ed6b40;
      }
    }
    @include mobile {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
.block {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h2,
    h1 {
      position: relative;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #000000;
      padding-left: 98px;
      &::before {
        content: "";
        width: 82px;
        height: 3px;
        background: #ed6b40;
        position: absolute;
        top: calc(39px / 2);
        left: 0;
      }
    }

    & a {
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
    }
    @include tablet {
      justify-content: flex-start;
      & a {
        display: none;
      }
      & h1 {
        font-size: 24px;
        line-height: 29px;
        padding-left: 125px;
        &::before {
          top: calc(29px / 2);
          width: 105px;
        }
      }
      & h2 {
        font-size: 24px;
        line-height: 29px;
        padding-left: 125px;
        &::before {
          top: calc(29px / 2);
          width: 105px;
        }
      }
      &.without-line {
        & h2,
        h1 {
          padding-left: 0;
          &::before {
            display: none;
          }
        }
      }
    }
    @include mobile {
      & h1 {
        font-size: 16px;
        line-height: 20px;
        padding-left: 50px;
        &::before {
          width: 40px;
          position: absolute;
          top: calc(20px / 2);
        }
      }
      & h2 {
        font-size: 14px;
        line-height: 20px;
        padding-left: 50px;
        width: 100%;
        &::before {
          width: 40px;
          position: absolute;
          top: calc(20px / 2);
        }
      }
    }
  }
  &__info {
    & h3 {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      @include tablet {
        font-size: 20px;
        line-height: 24px;
      }
      @include mobile {
        font-size: 14px;
        line-height: 17px;
      }
    }
    & p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $text;
      @include tablet {
        font-size: 14px;
        line-height: 23px;
      }
      @include mobile {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
.form {
  & .input-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }
  & textarea {
    height: 100%;
  }
  & span.error {
    position: absolute;
    width: max-content;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #ff2e2e;
    bottom: 100%;
    right: 0;
    &.left {
      left: 0;
      right: auto;
    }
    @include mobile {
      font-size: 8px;
      line-height: 10px;
    }
  }
  & h2 {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    @include tablet {
      font-size: 26px;
      line-height: 32px;
    }
    @include mobile {
      font-size: 16px;
      line-height: 20px;
    }
  }
  & input,
  textarea {
    width: 100%;
    border: 1px solid #9a9a9a;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    resize: none;
    box-sizing: border-box;
    &::placeholder {
      color: $grey1;
    }
    padding: 15px 16px;
    // &:invalid:not(:focus) {
    //   border: 1px solid #ff2e2e;
    // }
    @include tablet {
      padding: 13px 12px;
      font-size: 12px;
      line-height: 15px;
    }
    @include mobile {
      padding: 13px 10px;
    }
    &.error:not(:focus) {
      border: 1px solid #ff2e2e;
    }
  }
  & .checkbox {
    width: fit-content;
    &:hover {
      cursor: pointer;
    }
    & a {
      display: inline;
      color: #000000;
    }
    & p {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
      @include tablet {
        font-size: 8px;
        line-height: 10px;
      }
    }
    position: relative;
    display: flex;
    align-items: flex-start;
    &__real {
      display: none;
      &:checked ~ .checkbox__custom::before {
        display: block;
      }
    }
    &__custom {
      position: relative;
      min-width: 26px;
      height: 26px;
      border: 1px solid #ed6b40;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 6px;
      &::before {
        content: url(./../img/svg/okay.svg);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 53%;
        display: none;
      }
      @include tablet {
        min-width: 18px;
        height: 18px;
        margin-right: 10px;
      }
    }
  }
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;

  @include tablet {
    width: 95%;
  }
  @include mobile {
    width: 90%;
  }
}
.link {
  text-align: center;
  text-decoration: underline;
  color: #ed6b40;
  &:hover {
    color: #fc7a4f;
  }
}
.counter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include mobile {
    align-items: flex-start;
  }
  & p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $grey1;
  }
  &__block {
    margin-top: 16px;
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    width: fit-content;
    height: 40px;
    @include tablet {
      height: 30px;
    }
    @include mobile {
      height: 20px;
      margin-top: 0;
    }
    & p {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #000000;
      @include tablet {
        font-size: 16px;
        line-height: 20px;
      }
      @include mobile {
        font-size: 14px;
        line-height: 17px;
      }
    }
    & button {
      border: none;
      background: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 13px 21px;
      &:hover {
        cursor: pointer;
        & svg path {
          fill: #ed6b40;
        }
      }
      @include tablet {
        padding: 5px 15px;
      }
      @include mobile {
        padding: 3px 10px;
      }
    }
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(15, 15, 15, 0.6);
  backdrop-filter: blur(17px);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  & .swiper {
    &-slide {
      & .img-wrapper {
        width: 100%;
        height: 449px;
        display: flex;
        justify-content: center;
        @include tablet {
          height: 260px;
        }
        & img {
          &:hover {
            cursor: zoom-in;
          }
          @include tablet {
            &:hover {
              cursor: auto;
            }
          }
          width: auto;
          height: 100%;
        }
      }
    }
    &-window {
      width: 100%;
    }
    &-button {
      &::after {
        display: none;
      }
      top: 35%;
      &-prev {
        left: 20px;
      }
      &-next {
        right: 20px;
      }
      @include mobile {
        display: none;
      }
    }
    &-pagination {
      margin-top: 14px;
      position: static;
      display: flex;
      justify-content: space-between;
      @include tablet {
        margin-top: 20px;
      }
      @include tablet {
        margin-top: 16px;
      }
      &-line {
        display: none;
        margin-top: 20px;
        & .swiper-pagination-bullet {
          & img {
            display: none;
          }
          margin: 0 5px;
          max-width: 58px;
          height: 2px;
          background: #d5d5d5;
          &-active {
            background: #ed6b40;
          }
        }
        @include mobile {
          display: block;
        }
      }

      &-bullet {
        width: 30%;
        height: fit-content;
        opacity: 1;
        border-radius: 0;
        background: inherit;
        & img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  & .swiper {
    max-width: 1200px;
    height: 100%;
    padding: 150px 0;
    &-wraper {
      &::selection {
        display: none;
      }
    }
    & .popup-close {
      position: absolute;
      right: 103px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      background: inherit;
      border: none;
      z-index: 100;
      &:hover {
        cursor: pointer;
      }
      @include tablet {
        right: 5px;
      }
      @include mobile {
        top: 5px;
      }
    }
    &-slide {
      & .img-wrapper {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        & img {
          &:hover {
            cursor: auto;
          }
          width: auto;
          height: 100%;
        }
        @include mobile {
          width: 100%;
          padding: 0 5px;
          height: auto;

          & img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    &-window {
      width: 100%;
    }
    &-button {
      &::after {
        display: none;
      }
      height: auto;
      width: auto;
      & svg {
        width: 69px;
        height: 138px;
        & path {
          stroke: white;
        }
      }
      transform: translateY(-50%);
      top: 50%;
      &-prev {
        left: 103px;
      }
      &-next {
        right: 103px;
      }
      @include tablet {
        &-prev {
          left: 5px;
        }
        &-next {
          right: 5px;
        }
      }
    }
    &-pagination {
      margin-top: 14px;
      position: static;
      display: none;
      justify-content: space-between;

      &-bullet {
        width: 30%;
        height: auto;
        opacity: 1;
        border-radius: 0;
      }
    }
  }
}
